/*********************************************************
 UPDATED: 12/4/2017, GL
 *********************************************************/

/*Move facets to the left
prm-search > md-content.md-primoExplore-theme {
	display: -webkit-flex; !* Safari *!
	-webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
	display: flex;
	flex-flow: row-reverse wrap;
	}

.flex-gt-md-25.sidebar {
	webkit-flex: 0 0 15%;
	flex: 0 0 15%;
	}

.main {
	webkit-flex: 0 0 65%;
	flex: 0 0 65%;
	}

.layout-row>.flex-gt-lg-10 {
	webkit-flex: 0 0 16%;
	flex: 0 0 16%;
	max-width: none;
	}*/

/*Increase logo box and change b/g color*/
prm-topbar {
    height: 100px;
	}

prm-topbar prm-logo {
    max-width: 250px;
    min-width: 150px;
	}
	
prm-topbar .top-nav-bar {
    background-color: #FFFFFF;
	}

/*Change color of top toolbar on sign-in mouseover*/
prm-topbar md-toolbar {
	background-color : #FFFFFF !important;
	}

/*Change color of username*/
prm-user-area .user-menu-button .user-name {
    color: #333333;
	}

/*Change color of usermenu links when md-toolbar active*/
md-toolbar *, md-toolbar *::after, md-toolbar *::before {
    color: #0088A4;
	}

/*Change color of main menu links*/
prm-main-menu[menu-type="menu"] .md-button {
	color: #333333;
	}

/*Change color of main menu hover links*/
.hoverable-over-dark:hover:not([disabled]),
prm-main-menu[menu-type="full"] .md-button:hover:not([disabled]),
prm-main-menu[menu-type="full"] .md-button md-select:hover:not([disabled]):focus,
prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > .md-select-dummy:hover:not([disabled]):focus,
prm-main-menu[menu-type="full"] .overlay-menu-item:hover:not([disabled]),
prm-main-menu[menu-type="full"] .overlay-menu-item md-select:hover:not([disabled]):focus,
prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:hover:not([disabled]):focus,
prm-main-menu[menu-type="full"] md-card:hover:not([disabled]),
prm-user-area md-fab-toolbar .md-fab-action-item .md-button:hover:not([disabled]),
prm-user-area md-fab-toolbar ._md-fab-action-item .md-button:hover:not([disabled]),
prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:hover:not([disabled]),
prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:hover:not([disabled]),
.md-button.button-over-dark:hover:not([disabled]),
prm-user-area .md-button.user-menu-button:hover:not([disabled]),
prm-topbar .md-button:hover:not([disabled]),
.hoverable-over-dark:focus:not([disabled]),
prm-main-menu[menu-type="full"] .md-button:focus:not([disabled]),
prm-main-menu[menu-type="full"] .md-button md-select:focus:not([disabled]),
prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > .md-select-dummy:focus:not([disabled]),
prm-main-menu[menu-type="full"] .overlay-menu-item:focus:not([disabled]),
prm-main-menu[menu-type="full"] .overlay-menu-item md-select:focus:not([disabled]),
prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:focus:not([disabled]),
prm-main-menu[menu-type="full"] md-card:focus:not([disabled]),
prm-user-area md-fab-toolbar .md-fab-action-item .md-button:focus:not([disabled]),
prm-user-area md-fab-toolbar ._md-fab-action-item .md-button:focus:not([disabled]),
prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:focus:not([disabled]),
prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:focus:not([disabled]),
.md-button.button-over-dark:focus:not([disabled]),
prm-user-area .md-button.user-menu-button:focus:not([disabled]),
prm-topbar .md-button:focus:not([disabled]) {
    color: #0088A4;
	}
	
/*Icon color theme*/
prm-icon md-icon,
prm-icon md-icon.md-primoExplore-theme {
    color: #395575 !important;
	}

button.close-button > prm-icon md-icon,
button.close-button > prm-icon md-icon.md-primoExplore-theme {
	color: #ffffff !important;
}

/*Results loading icon*/
.diamond {
	background-color: #F8BB17 !important;
	}

/*Change text color of record titles*/
prm-brief-result .item-title {
	color: #395575;
	}
	
/*Simple + Advance search bar color*/
prm-search-bar, .advanced-search-backdrop.visible  {
    background-color: #0088A4;
	}

/*Change color Simple Search Link on advanced search page*/
prm-search-bar .search-switch-buttons .md-button.switch-to-simple {
    color: #FFFFFF;
	}

/*Change color of Search link and hover in advanced search box*/	
.md-button.button-confirm {
    color: #0088A4;
	}
	
.md-button.button-confirm:hover:not([disabled]),
.md-button.button-confirm:focus:not([disabled]),
.md-button.button-confirm.hovered:not([disabled]),
.md-button.button-confirm.md-focused:not([disabled]),
.md-button.button-confirm._md-focused:not([disabled]) {
    color: #0088A4;
    background-color: #E7E7E7;
	}

/*Top sidebar header*/
h2.sidebar-title {
	font-weight: 600;
	color: #396675;
	}
	
/*Sidebar facet section headers*/
.sidebar-header,
.section-title-header {
	color: #395575;
	}
	
.sidebar .md-button,
.sidebar .md-button:hover,
.sidebar .md-button:visited,
.sidebar .md-button:active,
.sidebar .md-button:focus {
    background-color: #d9d9d9;
	}

/*Sidebar facet sections buttons (show more, clear selection, etc...)*/
.md-button.button-as-link.link-alt-color,
.bar prm-authentication .md-button.link-alt-color,
.bar prm-authentication .section-title prm-icon.md-button,
.section-title .bar prm-authentication prm-icon.md-button,
.section-title prm-icon.md-button.button-as-link {
    background-color: transparent;
    color: #0088A4;
	}

/* Hide Tags in Detailed Display */
[aria-label="Tags"]{display:none;}
#tags{display:none;}


/* sign in bar -- check if this is ok with other alerts */
.bar.alert-bar,
.classic-input .search-scope,
.prm-alert-border {
	border-color: #d5eaee;
	background-color: #d5eaee;
}

input[type='submit'].submitAsLink,
toggle-institutions button.md-button{
	display: inline-block;
	vertical-align: middle;
	font-family: inherit;
	padding: 0.85em 1em;
	-webkit-appearance: none;
	border: 1px solid transparent;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	font-size: 0.9rem;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	/*background-color: #0088a4;*/
	/*color: #ffffff;*/
	border-radius: 4px;
	margin: 1em 0;
	text-decoration: none;
}

input[type='submit'].submitAsLink:hover,
toggle-institutions button.md-button.md-raised:not([disabled]),
toggle-institutions button.md-button:active,
toggle-institutions button.md-button:focus,
toggle-institutions button.md-button:hover,
toggle-institutions button.md-button:not([disabled]).md-fab:active,
toggle-institutions button.md-button:not([disabled]).md-raised:active
{
	/*background-color: #0088a4;*/
	text-decoration: none;
	text-shadow: none;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
    box-shadow: none;
}

toggle-institutions button.md-button {
	width: 210px;
}

input[type='submit'].submitAsLink {
	background-color: #0088a4;
	color: #ffffff;
}

toggle-institutions button.md-button {
	background-color: #d5eaee;
	color: #0088a4;
}



.__gt-md prm-page-nav-menu {
	bottom: 5em;
	left: 1em;
}
.__gt-sm prm-page-nav-menu {
	bottom: 4em;
}
.__gt-xs prm-page-nav-menu {
	left: 3em;
}

prm-page-nav-menu {
	position: fixed;
	z-index: 11;
	bottom: 7em;
	left: 0;
}

.md-button._md-focused:not([disabled]),
.md-button.hovered:not([disabled]),
.md-button.md-focused:not([disabled]),
.md-button:focus:not([disabled]),
.md-button:hover:not([disabled]) {
	color: #080606;
	background-color: rgba(57,85,117,.5);
}

/** hide left navigation in item view */

.services-index-under.hide-xs {
	display: none;
	visibility: hidden;
}


.saved-query-list>md-nav-bar .md-nav-item,
prm-action-list>md-nav-bar .md-nav-item {
	max-width: 100%;
}

/** change container layout
 */

/** modal view **/
md-dialog-content .full-view-container {
	padding: 2em 2em 0;
}


/** full view **/

.full-view-section-content {
	background-color: #fff;
}

/** remove padding from item view sections and break up page into sections */

prm-brief-result-container {
	background-color: #fff;
}

.full-view-section-content {
	padding: 1.5em;
}

.__gt-xs .full-view-section-content {
	padding: 2em;
}

.full-view-section {
	padding: 0;
	margin-bottom: 2.5em;
	margin-top: 0;
}



.full-view-inner-container {

	background-color: transparent;
	padding: 0;

}

#action_list {
	padding-bottom: 0;
	margin-bottom: 0 !important;
}

#action_list prm-full-view-service-container {
	padding: 0.5em;
	background: #fafafa;
	border: 2px solid #e0e0e0;
}

#action_list md-divider {
	border: 0;
}


/** account area */

prm-personal-info md-card.default-card:last-child {
	display: none;
	visibility: hidden;
}

prm-personal-info md-card-content md-divder.card-divider.margin-bottom-medium.layout-margin {
	display: none;
	visibility: hidden;
}

prm-personal-info .card-content-section.layout-full-width.layout-wrap.layout-align-start-start.layout-row:last-of-type {
	display: none;
	visibility: hidden;
}

/* Create clickable logo */
prm-logo div.product-logo {
  display:none;
}
prm-logo div.product-logo-local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
prm-logo-after div.product-logo-local a {
  max-width: none;
  padding: 0;
}
prm-logo-after div.product-logo-local a:hover,
prm-logo-after div.product-logo-local a:active {
  box-shadow: none !important;
  background-color: inherit !important;
}

/* Hide out-of-the-box no search results card */
prm-no-search-result > md-card.default-card {
  display: none;
}

.chat-tab, .chat-frame-wrap{
  position: fixed;
  bottom: 0;
  right: 10px;
  border: 0 none;
  z-index: 200;
}

.chat-tab{
  padding: 10px 10px 8px;
  font-size: 14px;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
}

.chat-close{
  border: 0 none;
  background: #f5f7fa;
  font-size: 16px;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -15px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}

.chat-close:hover {
  color: #027bc2;
}

.chat-frame-wrap{
  width: 300px;
}

.chat-frame{
  width: 300px;
  height: 280px;
  vertical-align: bottom;
  border-radius: 3px 3px 0 0;
}

@media only screen and (max-width: 960px) {
  .chat-bottom-padding {
    bottom: 60px;
  }
  body.md-dialog-is-showing .chat-bottom-padding {
    bottom: 0 !important;
  }
}

/*
  The reason these are such specific pixels is that they were chosen
  to space correctly around the existing search bar
  Of course if the size of the existing search bar is different of if ExL
  changes it these base values will be meaningless
*/
prm-search-bar {
  padding-bottom: 58.5px;
}
.__sm prm-search-bar {
  padding-bottom: 49.5px;
}
.__xs prm-search-bar {
  padding-bottom: 36px;
}
search-bar-sub-menu ul {
  margin: 0;
}
search-bar-sub-menu ul li {
  display: inline;
  list-style: none;
  padding: 0;
}
search-bar-sub-menu div.search-bar-sub-menu {
  background-color: #CCD0D5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36px;
}
search-bar-sub-menu .md-button.md-small {
  font-size: .75em;
  min-width: 42px;
  font-weight: bold;
}
